* {
  padding: 0;
  margin: 0;
  box-sizing: 0; }

body {
  background-color: #f5f5f5; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 10px; }

.nav-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  list-style: none; }
  .nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 3px;
    font-size: 15px;
    position: relative; }
  .nav-links a:hover {
    color: #a09999; }
  .nav-links a:before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    transition: all .75s;
    right: 0; }
  .nav-links a:hover:before {
    width: 100%; }

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    padding-bottom: 0; }
  .nav-links {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px; } }

@media screen and (min-width: 1120px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*LOGO*/ }
    nav div {
      margin-bottom: 12px; }
  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .nav-links a {
      font-size: 20px; } }

/*==========================================================INDEX==========================================================*/
/* --------------------------- IMG PORTADA--------------------------- */
#indexPortada img {
  width: 100%; }

/*--------------------------- BANNER SLOGAN--------------------------- */
#indexLineaProductos {
  width: 100%; }

.slogan {
  width: 100%; }
  .slogan h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000;
    margin-top: 10px;
    padding: 0px 10px; }
  .slogan p {
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 15px;
    word-spacing: 5px;
    margin-top: 5px;
    padding: 0px 25px; }

@media screen and (min-width: 768px) {
  .slogan h2 {
    font-size: 28px; }
  .slogan p {
    text-align: center;
    font-size: 18px; } }

@media screen and (min-width: 1025px) {
  .slogan h2 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px; }
  .slogan p {
    text-align: center;
    font-size: 20px; } }

/*---------------------------  FIN BANNER SLOGAN--------------------------- */
/*GALERIA DE IMAGENES - PRESENTACION DE LINEA DE PRODUCTOS*/
.carousel-item img {
  width: 100%; }

@media screen and (min-width: 768px) {
  .carousel-item img {
    width: 60%;
    margin-left: 20%; } }

/*--------------------------- COMIENZA SECCION NOSOTROS--------------------------- */
#indexNosotros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px; }
  #indexNosotros div {
    padding: 20px; }

.nosotrosTit {
  text-align: center; }
  .nosotrosTit h3 {
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .nosotrosTit p {
    font-size: 15px;
    margin-bottom: 15px; }

.nosotrosImg {
  display: flex;
  width: 80%;
  justify-content: space-around; }
  .nosotrosImg img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px; }

.botones {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-family: 'Abel', sans-serif;
  border: 1px solid #000;
  padding: 6px 10px;
  text-decoration: none; }

.botones:hover {
  background-color: #000;
  color: #fff; }

@media screen and (min-width: 768px) {
  .nosotrosTit h3 {
    font-size: 25px;
    margin-bottom: 5px; }
  .nosotrosTit p {
    font-size: 17px;
    margin-bottom: 15px; }
  .botones {
    font-size: 15px; } }

@media screen and (min-width: 1025px) {
  #indexNosotros {
    margin-top: 120px;
    margin-bottom: 120px; }
  .nosotrosImg {
    width: 45%; }
  .nosotrosTit {
    text-align: left; }
    .nosotrosTit h3 {
      font-size: 30px; }
    .nosotrosTit p {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 22px; }
  .botones {
    font-size: 20px; } }

/*--------------------------- FIN SECCION NOSOTROS--------------------------- */
/*---------------------------- COMIENZA SECCION CONSEJOS------------------------ */
#indexConsejo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.subtituloConsejo {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase; }

.grid {
  margin-top: 10px;
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px; }
  .grid img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px; }

.gridHijo {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  width: 200px; }

.gridHijo:hover {
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3); }

.textoGrid h4 {
  font-size: 15px;
  text-transform: uppercase; }

.textoGrid p {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px; }

.textoGrid a {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase; }

.parrafo {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 28px; }

.artTit {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 25px; }

.artParr {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 20px; }

.leerM {
  text-decoration: none;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase; }

.leerM:hover {
  color: lightslategrey; }

.botn {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  border: 1px solid #000;
  padding: 8px 15px; }
  .botn a {
    text-decoration: none;
    color: #000; }

.botn:hover {
  background-color: #000; }
  .botn:hover a:hover {
    color: #fff; }

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 15px; }
  .subtituloConsejo {
    font-size: 25px; }
  .gridHijo {
    width: 250px; }
  .textoGrid h4 {
    font-size: 22px; }
  .textoGrid p {
    font-size: 20px; }
  .textoGrid a {
    font-size: 20px; } }

@media screen and (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 25px;
    margin-bottom: 70px; }
  .subtituloConsejo {
    font-size: 30px; }
  .gridHijo {
    width: 300px; }
  .textoGrid h4 {
    font-size: 22px; }
  .textoGrid p {
    font-size: 20px; }
  .textoGrid a {
    font-size: 20px; } }

@media screen and (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 25px;
    margin-bottom: 70px; }
  .subtituloConsejo {
    font-size: 30px; }
  .gridHijo {
    width: 300px; }
  .textoGrid h4 {
    font-size: 22px; }
  .textoGrid p {
    font-size: 20px; }
  .textoGrid a {
    font-size: 20px; } }

/*--------------------------- FIN SECCION CONSEJOS--------------------------- */
/*---------------------------COMIENZA SECCION CONTACTO---------------------------*/
#indexContacto {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-flow: wrap row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px; }
  #indexContacto div {
    padding: 20px; }

.contactoTit {
  text-align: center; }
  .contactoTit h3 {
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .contactoTit p {
    font-size: 15px;
    margin-bottom: 15px; }

.contactoImg {
  display: flex;
  width: 80%;
  justify-content: space-around; }
  .contactoImg img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px; }

@media screen and (min-width: 768px) {
  .contactoTit h3 {
    font-size: 25px;
    margin-bottom: 5px; }
  .contactoTit p {
    font-size: 17px;
    margin-bottom: 15px; }
  .botones {
    font-size: 15px; } }

@media screen and (min-width: 1025px) {
  #indexContacto {
    margin-top: 120px;
    margin-bottom: 120px; }
  .contactoImg {
    width: 45%; }
  .contactoTit {
    text-align: left; }
    .contactoTit h3 {
      font-size: 30px; }
    .contactoTit p {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 22px; }
  .botones {
    font-size: 20px; } }

/*---------------------------FIN SECCION CONTACTO---------------------------*/
/*==========================================================PRODUCTOS==========================================================*/
/*---------------------------PORTADA INICIO DE PRODUCTOS---------------------------*/
#mainProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#portadaProduct {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../multimedia/images/fondoProd.jpg); }
  #portadaProduct h1 {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 30px; }

/*--------------------------- FIN PORTADA INICIO DE PRODUCTOS---------------------------*/
/*---------------------------SECCION PERSONAL CARE---------------------------*/
#personalCare {
  margin-top: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }
  #personalCare h2 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 10px; }
  #personalCare p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    margin-bottom: 10px; }

.personalCareGrid {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr); }

.personalCareGridItem {
  display: flex;
  justify-content: center;
  width: 100%; }
  .personalCareGridItem a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgba(230, 224, 222, 0.5);
    font-family: 'Open Sans Condensed', sans-serif; }
  .personalCareGridItem h3 {
    padding: 10px; }
  .personalCareGridItem img {
    width: 100px;
    height: 200px; }

/* ---------------------------FIN SECCION PERSONAL CARE---------------------------*/
/*--------------------------- COMIENZO SECCION AMENITIES---------------------------*/
#amenities {
  width: 70%;
  margin-bottom: 15px; }
  #amenities h2 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 10px; }
  #amenities p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    margin-bottom: 10px; }

.amenitiesGrid {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-rows: repeat(5, 1fr); }

.amenitiesGridItem {
  display: flex;
  justify-content: center;
  width: 100%; }
  .amenitiesGridItem a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgba(230, 224, 222, 0.5);
    font-family: 'Open Sans Condensed', sans-serif; }
  .amenitiesGridItem h3 {
    padding: 10px; }
  .amenitiesGridItem img {
    width: 100px;
    height: 200px; }

/*--------------------------- FIN SECCION AMENITIES---------------------------*/
/*--------------------------- COMIENZO SECCION CREMAS---------------------------*/
#cremas {
  width: 70%;
  margin-bottom: 15px; }
  #cremas h2 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 10px; }
  #cremas p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    margin-bottom: 10px; }

.cremasGrid {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr); }

.cremasGridItem {
  display: flex;
  justify-content: center;
  width: 100%; }
  .cremasGridItem a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgba(230, 224, 222, 0.5);
    font-family: 'Open Sans Condensed', sans-serif; }
  .cremasGridItem h3 {
    padding: 10px; }
  .cremasGridItem img {
    width: 100px;
    height: 200px; }

/*--------------------------- FIN SECCION CREMAS---------------------------*/
/*--------------------------- COMIENZO SECCION SOLIDOS---------------------------*/
#solidos {
  width: 70%;
  margin-bottom: 15px; }
  #solidos h2 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 10px; }
  #solidos p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    margin-bottom: 10px; }

.solidosGrid {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr); }

.solidosGridItem {
  display: flex;
  justify-content: center;
  width: 100%; }
  .solidosGridItem a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgba(230, 224, 222, 0.5);
    font-family: 'Open Sans Condensed', sans-serif; }
  .solidosGridItem h3 {
    padding: 10px; }
  .solidosGridItem img {
    width: 100px;
    height: 200px; }

/* ---------------------------FIN SECCION SOLIDOS---------------------------*/
@media screen and (min-width: 768px) {
  .personalCareGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; }
  .amenitiesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; }
  .cremasGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; }
  .solidosGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; } }

@media screen and (min-width: 1025px) {
  #personalCare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px; }
    #personalCare p {
      width: 800px; }
  .personalCareGrid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; }
  .personalCareGridItem:hover {
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3); }
  #amenities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; }
    #amenities p {
      width: 800px; }
  .amenitiesGrid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px; }
  .amenitiesGridItem:hover {
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3); }
  #cremas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; }
    #cremas p {
      width: 800px; }
  .cremasGrid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; }
  .cremasGridItem:hover {
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3); }
  #solidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; }
    #solidos p {
      width: 800px; }
  .solidosGrid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px; }
  .solidosGridItem:hover {
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3); } }

/*==========================================================CONSEJOS==========================================================*/
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

.size-h3 {
  font-size: 25px; }

.size-h5 {
  font-size: 20px; }

#subtiCons {
  margin-top: 20px;
  text-align: center; }

/*
#mainConsejos{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    div{
        h1 {       
            font-size: 40px;
            font-family: 'Open Sans Condensed', sans-serif;
            text-align: center;
            text-transform: uppercase;
            line-height: 50px;
            letter-spacing: 3px;
            word-spacing: 5px;
            color: #000;
            margin-bottom: 30px;
        }
    }
}

.consejoGrid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    a{
        border: none;
        font-size: 12px;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 2px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        color: rgb(83, 65, 65);
        width: 100%;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
    h4 {
        text-transform: uppercase;    
        padding-top: 15px;
        padding-bottom: 15px;
    }
    div{
        img{
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}
.consejoGrid a:hover{
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width:768px){
    .consejoGrid{
        width: 60%;
    }
    
}
@media screen and (min-width:1024px){
    .consejoGrid{
        grid-template-columns: repeat(2, 1fr);
        width: 45%;
    }
    
}



*/
/*==========================================================EMPRESA==========================================================*/
#mainEmpresa {
  width: 100%;
  background-color: #f5f5f5;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  #mainEmpresa div h1 {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000; }

#intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  #intro div img {
    margin-top: 20px;
    width: auto;
    height: 500px; }
  #intro div p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px; }

#mision {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  margin-bottom: 50px; }
  #mision div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    #mision div h2 {
      text-align: center;
      color: #000;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 2px;
      font-size: 35px;
      text-transform: uppercase;
      font-weight: 400; }
    #mision div p {
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 2px; }

#contenidoAd {
  width: 80%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; }
  #contenidoAd div h4 {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px; }

@media screen and (min-width: 1025px) {
  #intro {
    width: 75%;
    flex-direction: row; }
    #intro div p {
      padding: 25px; }
    #intro div img {
      height: 700px; }
  #mision {
    flex-direction: row; } }

/*==========================================================FIN EMPRESA==========================================================*/
/*==========================================================CONTACTO==========================================================*/
#mainContacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #mainContacto div h1 {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000; }
  #mainContacto section h2 {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000;
    margin-bottom: 10px; }

.contactoForm {
  margin-top: 50px; }

#primerSectContacto p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 2px; }

#segSectContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%; }
  #segSectContacto div {
    padding: 20px;
    margin-bottom: 10px; }
    #segSectContacto div p {
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 1px;
      text-align: center; }
    #segSectContacto div iframe {
      width: 100%;
      height: 300px;
      margin-bottom: 20px; }

@media screen and (min-width: 768px) {
  #segSectContacto iframe {
    width: 60%;
    height: 300px; } }

@media screen and (min-width: 1024px) {
  #segSectContacto iframe {
    width: 40%;
    height: 300px; } }

/*==========================================================FIN CONTACTO==========================================================*/
.introProducto {
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center; }
  .introProducto div {
    width: 80%; }
  .introProducto h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 3px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #534141; }
  .introProducto p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 50px; }
  .introProducto img {
    width: 100%; }

.checkProducto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
  margin-bottom: 50px;
  color: #ac694a; }

.checkProductoItem {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .checkProductoItem p {
    font-size: 20px; }

.tablaProducto {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  letter-spacing: 2px; }

.tablaProductoContenedor tr td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ac694a;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  letter-spacing: 2px; }

.linksProducto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .linksProducto h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px; }

.linksProductoGrid {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px; }
  .linksProductoGrid div a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center; }

@media screen and (min-width: 768px) {
  .introProducto p {
    font-size: 20px; } }

@media screen and (min-width: 1024px) {
  .introProducto h1 {
    margin-top: 50px; }
  .introProducto p {
    line-height: 40px;
    margin-bottom: 100px; }
  .introProducto div {
    width: 50%; }
  .tablaProducto {
    margin-top: 100px;
    margin-bottom: 100px; }
  .linksProductoGrid {
    margin-top: 40px;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin-bottom: 50px;
    justify-items: center; }
    .linksProductoGrid div {
      width: 60%; }
  .linksProductoGrid div:hover {
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    transition: all .8s; } }

/*==========================================================PAGINA CONSEJOS INDIVIDUALES==========================================================*/
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: #000; }

.size-h3 {
  font-size: 25px; }

.size-h5 {
  font-size: 20px; }

.cueroCabelludoTit {
  width: 100%;
  text-align: center;
  margin-top: 10px; }

h1 {
  color: #534141;
  letter-spacing: 2px;
  font-size: 30px; }

.cueroCabelludoMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cueroCabelludoSecc {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 18px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: wrap column;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 30px; }
  .cueroCabelludoSecc ul {
    margin-left: 30px; }
    .cueroCabelludoSecc ul li {
      list-style: square; }
  .cueroCabelludoSecc b {
    color: #534141; }
  .cueroCabelludoSecc p {
    padding: 10px; }
  .cueroCabelludoSecc img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px; }

.linksConsejo div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .linksConsejo div a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #65605e;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px; }
  .linksConsejo div img {
    width: 60%;
    height: auto;
    border-radius: 15px; }

@media screen and (min-width: 768px) {
  .cueroCabelludoTit {
    text-align: left;
    font-size: 25px;
    padding: 100px 150px; }
  .cueroCabelludoSecc {
    width: 60%;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px; }
  .linksConsejo div a:hover {
    transform: scale(1.1);
    transition: all 1s; } }

@media screen and (min-width: 1024px) {
  .linksConsejo div {
    flex-direction: row; }
  .cueroCabelludoTit {
    padding: 100px 150px; } }

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
  background: #65605e;
  background: linear-gradient(90deg, #65605e 0%, #9a9390 50%, #65605e 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px; }
  footer a {
    color: blue;
    text-decoration: none;
    font-size: 15px; }
  footer h6 {
    font-size: 15px; }

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row; } }
